@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #ddd;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
}

.container{
   width: 100%;
   position: relative;
   margin: 50px auto;
   max-width: 1000px;
   /* height: 200vh; */
   min-height: 1000px;
   display: grid;
   grid-template-columns: 1fr 2fr;
   box-shadow: 0 35px 55px rgba(0,0,0,0.2);
   border-radius: 4px;
   overflow: hidden;
   outline: 1px solid grey;
}

.container .left_side{
    position: relative;
    background-color: #071e36f2;
    padding: 40px;
   word-break: break-all;
   
}
.container .right_side{
    position: relative;
    background-color: #fff;
    padding: 40px;
}

.profielText{
    /* background-color: red; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.profielText .profile{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profielText .profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profielText h2{
    color: #fff;
    font-size: 1.5rem;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4;
}


.Education-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.Education-header{
    color: #fff;
    font-size: 20px; 
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}
.Education-container ul li {
    list-style-type: none;
    color: #fff;
}  

.contactInfo{
    padding-top: 40px;
}
.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactInfo ul {
    position: relative;
}
.contactInfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.contactInfo ul li span{
    color: #fff;
    font-weight: 300;
}

.contactInfo.education li{
    margin-bottom: 15px;
}
.contactInfo.education h5{
    color: #03a9f4;
    font-weight: 500;
}
.contactInfo.education h4:nth-child(2){
    color: #fff;
    font-weight: 500;
}
.contactInfo.education h4{
    color: #fff;
    font-weight: 300;
}

.about{
    margin-bottom: 50px;

}
.about:last-child{
    margin-bottom: 0;
}
.title2{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
    color: #333;
}

.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;

}

.about .box .year_company{
    min-width: 150px;
}

.about .box .year_company h5{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}
.about .box .text h4{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}

.skills .box
{
position: relative;
width: 100%;
display: grid;
grid-template-columns: 150px 1fr;
justify-content: center;
align-items: center;
}
.skills .box h4{
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;

}
.skills .box  .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #f0f0f0;
}

.interest ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.interest ul li{
    list-style: none;
    margin: 10px 0;
    font-weight: 500;
    color: #333;

}
.interest ul li .fa-solid{
    color: #03a9f4;
    font-size: 17px;
    width: 20px;
}

.buttons {
   display: flex;
    justify-content: space-between;
  text-align: center;
}
.buttons  .btn-1{
    background-color: #03a9f4;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
  outline: none;
  color: #fff;
}
.buttons  .btn-2{
    background-color: rgb(47, 78, 255);
    padding: 10px 10px;
    border-radius: 10px;
     border: none;
     color: #fff;
     outline: none;
}

.btn-3{
    background-color: rgb(47, 78, 255);
    color: #fff;
    position: absolute;
    top: 50px;
    font-size: 1rem;
    right: 140px;
    padding: 10px 10px;
    border-radius: 10px;
     border: none;
     outline: none;
}

/* onclick and resume template move aside */
.resume {
    /* position: fixed; */
    top: 0;
    left: 30px;
    width: 1000px;
    min-height: 1000px;

    /* background-color: white; */
    z-index: 1;
    transition: transform 0.3s ease-in-out,  display 0.3s ease-in-out;
  }
  
  .edit-button {
    /* position: fixed; */
    top: 20px;
    right: 20px;
    z-index: 2;
  }
  

  .resume-expanded {
 /* width: 300px ; */
 display: grid;
 grid-template-columns: 2fr;
  }


  
  .form-display{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 0.2rem;
    right: 60px;
    width: 300px;
    top: 50px;
   height: 50%;
  }
  /* .form-display label{
    color: white;
    font-size: 1.1rem;
  } */
  .form-display input{
    width: 100%;
    display: inline-block;
    border: none;
    padding: 0.2rem 0.2rem;
    outline: none;
  }

  .form-display button{
    width: 100%;
    display: inline-block;
    border: none;
    padding: 0.2rem 0.2rem;
    outline: none;
  }

@media  (max-width: 1000px) {
    .container{
        margin: 10px;
        grid-template-columns: repeat(1fr , 1fr);
       }
       .interest ul{
        grid-template-columns: repeat(2fr,1fr);
       }
}

@media (max-width: 600px){
    .about .box{
        flex-direction: column;
    }
    .about .box .year_company{
        margin-bottom: 5px;
    }
    .interest ul{
        grid-template-columns: repeat(1,1fr);
    }
    .skills .box{
        grid-template-columns: repeat(1,1fr);
    }
}